body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
  color: #787878;
  font-size: 0.9375em;
  font-weight: 400;
  line-height: 1.45em;
  width: 100%;
}

                        /*---------HEADER----------*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search input {
  border: none;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
  outline: none;
}

.search::after {
  content: "\f002";
}

.search:focus {
  
}

.right {
  display: flex;
  flex-direction: column;
  padding-bottom: 3px;
}

.links a {
  text-decoration: none;
  color: #787878;
  font-size: 12px;
  padding: 0px 4px;
}

.links a:hover {
  transition: 0.2s;
  color: #95cac5;
}

.links a:not(:hover) {
  transition: 0.2s;
}


                            /*-----------LOGO-------------*/

.logo {
  display: flex;
  justify-content: center;
  font-size: 11px;
}

.logo h3 {
  font-size: 13px;
  font-weight: 400;
}

.logo-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 80px 130px;
  margin-top: 40px;
}

.logo-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 20px;
  border-bottom: 1px solid #ebebeb;
}

.logo-left-content-button {
  width: 30px;
  background-color: #95cac5;
  padding: 10px 20px;
  color: white;
  font-weight: 900;
}

.logo-left-content > a:hover {
  
}


.logo-left-content {
  padding-left: 15px;
  width: 240px;
}

.logo-right {
  align-items: flex-end;
  border-bottom: 1px solid #ebebeb;
}

.logo-right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 240px;
  height: 100%;
  padding-right: 15px;
}

.logo-right-content-button {
  background-color: #95cac5;
  color: white;
  font-weight: 900;
  padding: 5px 20px;
  margin-top: 15px;
}


                            /*------MENU--------*/

nav i {
  color: #d2d2d2;
}

ul {
  z-index: 1;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  font-weight: 400;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

li {
  position: relative;
}

ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}

.menu a {
  display: block;
  color: black;
  background-color: white;
  text-decoration: none;
}

.menu>li {
  padding: 20px;
}

.menu a:hover {
  transition: .2s;
  color: #95cac5;
}

                          /*------HOME--------*/
/*HOME-SUBMENU*/

.home-submenu {    
  display: none;
  position: absolute;
  width: 200px;
  top: 58px;
  left: 0;
  background-color: white;
}

.home-submenu>li {
  padding: 7px ;
}

.menu > li:hover > .home-submenu {
  display: block;
}

/*HOMEONE-SUBMENU*/

.homeone-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.homeone-submenu>li {
  padding: 7px;
}

.home-submenu > li:hover > .homeone-submenu {
  display: block;
}

/*HOMEONEVERSION1-SUBMENU*/

.homeoneversion1-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
  background: white;
}

.homeoneversion1-submenu > li {
  padding: 7px;
}

.homeone-submenu > li:hover > .homeoneversion1-submenu {
  display: block;
}

/*HOMEONEVERION2-SUBMENU*/

.homeoneversion2-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
  background: white;
}

.homeoneversion2-submenu > li {
  padding: 7px;
}

.homeone-submenu > li:hover > .homeoneversion2-submenu {
  display: block;
}

/*HOMEONEVERION3-SUBMENU*/

.homeoneversion3-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
  background: white;
}

.homeoneversion3-submenu > li {
  padding: 7px;
}

.homeone-submenu > li:hover > .homeoneversion3-submenu {
  display: block;
}

/*HOMETWO-SUBMENU*/

.hometwo-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.hometwo-submenu>li {
  padding: 7px;
}

.home-submenu > li:hover > .hometwo-submenu {
  display: block;
}

/*HOMETWOVERSION1-SUBMENU*/

.hometwoversion1-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
}

.hometwoversion1-submenu > li {
  padding: 7px;
}

.hometwo-submenu > li:hover > .hometwoversion1-submenu {
  display: block;
}

/*HOMETWOGRID3-SUBMENU*/

.hometwogrid3-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
}

.hometwogrid3-submenu > li {
  padding: 7px;
}

.hometwo-submenu > li:hover > .hometwogrid3-submenu {
  display: block;
}

/*HOMETWOGRID2-SUBMENU*/

.hometwogrid2-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
}

.hometwogrid2-submenu > li {
  padding: 7px;
}

.hometwo-submenu > li:hover > .hometwogrid2-submenu {
  display: block;
}

/*HOMETWOGRID4-SUBMENU*/

.hometwofrid4-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
}

.hometwofrid4-submenu > li {
  padding: 7px;
}

.hometwo-submenu > li:hover > .hometwofrid4-submenu {
  display: block;
}

/*WITHOUTFEATURED-SUBMENU*/

.withoutfeatured-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
}

.withoutfeatured-submenu > li {
  padding: 7px;
}

.hometwo-submenu > li:hover > .withoutfeatured-submenu {
  display: block;
}

/*HOMETHREE-SUBMENU*/

.homethree-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.homethree-submenu>li {
  padding: 7px;
}

.home-submenu > li:hover > .homethree-submenu {
  display: block;
}

/*HOMEFOUR-SUBMENU*/

.homefour-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.homefour-submenu>li {
  padding: 7px;
}

.home-submenu > li:hover > .homefour-submenu {
  display: block;
}

/*HOMEFIVE-SUBMENU*/

.homefive-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.homefive-submenu>li {
  padding: 7px;
}

.home-submenu > li:hover > .homefive-submenu {
  display: block;
}

/*NORMALLAYOUT-SUBMENU*/

.normallayout-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.normallayout-submenu>li {
  padding: 7px;
}

.homefive-submenu > li:hover > .normallayout-submenu {
  display: block;
}

/*GRIDTWO-SUBMENU*/

.gridtwo-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.gridtwo-submenu>li {
  padding: 7px;
}

.homefive-submenu > li:hover > .gridtwo-submenu {
  display: block;
}

/*GRIDTHREE-SUBMENU*/

.gridthree-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.gridthree-submenu>li {
  padding: 7px;
}

.homefive-submenu > li:hover > .gridthree-submenu {
  display: block;
}

/*HOMESIX-SUBMENU*/

.homesix-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.homesix-submenu>li {
  padding: 7px;
}

.home-submenu > li:hover > .homesix-submenu {
  display: block;
}

/*MAGAZINELAYOUT-SUBMENU*/

.magazinelayout-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.magazinelayout-submenu>li {
  padding: 7px;
}

.home-submenu > li:hover > .magazinelayout-submenu {
  display: block;
}

/*MAGAZINEVERSION1-SUBMENU*/

.magazineversion1-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.magazineversion1-submenu>li {
  padding: 7px;
}

.magazinelayout-submenu > li:hover > .magazineversion1-submenu {
  display: block;
}

                        /* --------FEATURES---------*/

/*FEATURES-SUBMENU*/

.features-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  top: 58px;
  left: 0;
  background-color: white;  
}

.features-submenu>li {
  padding: 7px ;
}

.menu > li:hover > .features-submenu {
  display: block;
}

/*FEATURES-STYLE*/

.featured-style {                              
  display: block;
  position: absolute;
  width: 208px;
  left: -90px;
  background-color: white;  
}

.featured-style>li {
  padding: 7px ;
}

.menu > li:hover > .featured-style {
  display: block;
}

/*POST-FORMAT*/

.post-format {                              
  display: block;
  position: absolute;
  width: 185px;
  left: 119px;
  background-color: white; 
}

.post-format>li {
  padding: 7px ;
}

.menu > li:hover > .post-format {
  display: block;
}

/*SHOP-PAGE-LAYOUT*/

.shop-page-layout {                              
  display: block;
  position: absolute;
  width: 205px;
  left: 305px;
  background-color: white;  
}

.shop-page-layout>li {
  padding: 7px ;
}

.menu > li:hover > .shop-page-layout {
  display: block;
}

/*OTHER-PAGE-LAYOUT*/

.other-page-layout {                              
  display: block;
  position: absolute;
  width: 236px;
  left: 511px;
  background-color: white; 
}

.other-page-layout>li {
  padding: 7px ;
}

.menu > li:hover > .other-page-layout {
  display: block;
}

                        /* --------EXTRA---------*/

.extra-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  left: -2px;
  top: 58px;
  background-color: white; 
}

.extra-submenu>li {
  padding: 7px ;
}

.menu > li:hover > .extra-submenu {
  display: block;
}

                        /* --------pages-submenu---------*/

.pages-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;  
}

.pages-submenu>li {
  padding: 7px ;
}

.extra-submenu > li:hover > .pages-submenu {
  display: block;
}

                      /*---gallerypost-submenu----*/

.gallerypost-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.gallerypost-submenu>li {
  padding: 7px ;
}

.extra-submenu > li:hover > .gallerypost-submenu {
  display: block;
}

                        /*--headerstyle-submenu--*/

.headerstyle-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white; 
}

.headerstyle-submenu>li {
  padding: 7px ;
}

.extra-submenu > li:hover > .headerstyle-submenu {
  display: block;
}

                        /*---menustyle-submenu---*/

.menustyle-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white; 
}

.menustyle-submenu>li {
  padding: 7px ;
}

.extra-submenu > li:hover > .menustyle-submenu {
  display: block;
}

                        /*---portfolio-submenu---*/

.portfolio-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;  
}

.portfolio-submenu>li {
  padding: 7px ;
}

.extra-submenu > li:hover > .portfolio-submenu {
  display: block;
}

                        /*--------TRAVEL--------*/



                        /*---------LIFESTYLE----------*/

.lifestyle-submenu {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 58px;
  left: -400px;
  background: white;
}

.lifestyle-submenu img {
  width: 175px;
}

.lifestyle-submenu div {
  padding: 0px 15px;
  padding-top: 25px;
  padding-bottom: 60px;
}

.lifestyle-submenu div p {
  margin: 10px 0px;;
}

.lifestyle-submenu .viewall a{
  position: relative;
  right: 450px;
  top: 150px;
  width: 100px;
}

.menu > li:hover .lifestyle-submenu{
  display: flex;
}

                    /*------------ pictures*-----------*/

.pictures {
  border-top: 1px solid #ebebeb;
  display: flex;
  width: 100%;
}

.pictures img {
  width: 100%;
}

.pictures-left {
  position: relative;
  width: 50%;
}

.pictures-left-background {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: rgba(149,202,197,.8);
  width: 100%;
  height: 99.1%;
  color: red;
  transition: background-color: 1s;
}

.pictures-left:hover > .pictures-left-background {
  display: flex;
}

.pictures-left-background-text {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.pictures-left-background .title1 {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 900;
  color: white;
  border-bottom: 2px solid white;
  width: 45px;
}

.pictures-left-background .title2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: white;
  margin-top: 30px;
  margin-bottom: 10px;
}

.pictures-left-background p {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.pictures-left-background p:hover {
  cursor:default;
}


.pictures-mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  overflow: hidden;
}

.pictures-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}

.pictures-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 50%;
  width: auto;
  padding: 0 28px;
}

.pictures-text-title {
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  padding: 25px 0;
}

.pictures-text-button-shell {
  display: flex;
  justify-content: center;
}

.pictures-text-button a{
  padding: 8px 20px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #95cac5;
}

.pictures-text-button {
  border: 1px solid #95cac5;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 5px;
  padding-bottom: 6px;
}

                        /*----------travel-posts*--------*/

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 100%;
  padding-right: 10px;
}

.content {
  display: flex;
  padding-top: 30px;
  justify-content: center;
  width: 100%;
}

.content-travel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  border: 1px solid #ebebeb;
  margin-bottom: 25px;
  width: 100%;
}

.content-travel-header a {
  margin: 0 15px;
  font-size: 15px;
  font-weight: 400;
}

.content-travel-header p a{
  font-size: 11px;
}

.content-travel {
  display: flex;
  justify-content: center;
}

.travel-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 30px;
  width: 60%;
  height: 100%;
}

.travel-left img {
  width: 100%;
}

.left span {
  margin: 0 15px;
}

.left p {
  font-size: 11px;
  color: darkgray;
}



.left > .big-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.left > .big-post > a {
  padding-top: 20px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

.left .text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45em;
    color: #787878;
}

.left span {
  font-size: 11px;
  text-align: center;
}

.travel-right {
  padding: 0 30px;
  width: 40%;
  height: 100%;
}

.travel-right hr {
  margin: 23px 0;
  border: none;
  background-color: #ebebeb;
  height: 1px;
}

.travel-right img {
  width: 100%;
}

.travel-post-small {
  display: flex;
  width: 100%;
}

.travel-post-small-img {
  width: 30%;
  padding-right: 25px;
}

.travel-post-small-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.travel-post-small-text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.travel-post-small-text  p{
  font-family: "Lato", sans-serif;
  font-size: 11px;
  color: darkgrey;
  font-style: italic;
}

.travel-post-small-text span {
  margin: 0 5px;
  font-style: italic;
}

.simplebloging {
  width: 100%;
}

.simplebloging img {
  width: 100%;
}

.content-right {
  width: 15%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 11px;
}

.content-right hr {
  width: 100%;
  margin: 20px 0px;
  border: none;
  background-color: #ebebeb;
  height: 1px;
}

.editor-pick-header {
  background: #ebebeb;
  width: 100%;
  text-align: center;
  background: #f8f8f8;
  border: 1px solid #ebebeb;
  margin: 1px;
  padding: 5px 0;
}

.editor-pick-header-shell {
  border: 1px solid #ebebeb;
  margin-bottom: 25px;
  width: 100%;
}

.editor-pick-header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.content-right img {
  width: 100%;
  height: auto
}

.popular-post-header {
  background: #ebebeb;
  
  text-align: center;
  background: #f8f8f8;
  border: 1px solid #ebebeb;
  
  margin: 1px;
}

.popular-post-header-shell {
  border: 1px solid #ebebeb; 
  margin-top: 45px;
  margin-bottom: 30px;
  width: 100%;
}

.popular-post-header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.popular-post {
  display: flex;
  width: 100%;
}

.popular-post img {
  width: 100%;
}

.popular-post-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
}

.popular-post-text h2 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.popular-post-text p {
  color: darkgrey;
  font-style: italic;
}

.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0;
}

.categories hr {
  margin: 0;
  border: none;
  background-color: #ebebeb;
  height: 1px;
}

.categories-header {
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  margin: 1px;
}

.categories-header-shell {
  border: 1px solid #ebebeb;
  margin: 10px 0;
}

.categories-header h2 {
  font-weight: 400;
}

.category {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}

.tagcloud {
  padding-bottom: 30px;
}


.tagcloud-header {
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  margin: 1px;
}

.tagcloud-header-shell {
  border: 1px solid #ebebeb;
  width: 100%;
  margin-bottom: 30px;
}

.tagcloud-header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.tags a {
  padding: 5px 15px;
  border: 1px solid #e1e1e1;
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

.tags a:hover {
  transition: .3s;
  background-color: aqua;
  color: white;
}

.addunit {
  padding-bottom: 30px;
}

.addunit-header {
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  margin: 1px;
} 

.addunit-header-shell {
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
}

.addunit-header h2 {
  font-weight: 400;
}

.videos {
  padding-bottom: 30px;
}

.videos-header {
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  margin: 1px;
}

.videos-header-shell {
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
}

.videos-header h2 {
  font-weight: 400;
}


.life-love-style {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  width: 100%;
}

.life-love-style img {
  width: 100%;
}

.life-love-style-text {
  font-size: 14px;
}

.life-love-header, .life-style-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  padding: 0 25px;
  margin: 1px;
}

.life-love-header-shell, .life-style-header-shell {
  border: 1px solid #ebebeb;
  margin-bottom: 25px;
}

.life-love-header h2, .life-style-header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.life-love-header p, .life-style-header p {
  font-size: 11px;
  font-family: "Lato", sans-serif;
}

.life-love-header span, .life-style-header span {
  margin: 0 5px;
}

.life-love {
  width: 50%;
  margin-right: 30px;
}

.life-love-title, .life-style-title {
  text-align: center;
}

.life-love-title h1, .life-style-title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.life-love-title p, .life-style-title p {
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-style: italic;
  color: darkgray;
}

.life-love-title span, .life-style-title span {
  margin: 0 5px;
}

.life-style {
  width: 50%;
}

.life-love-style-theme {
  line-height: .5;
  padding: 5px 0;
}

.life-love-style-theme h2 {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 1;
}

.life-love-style-theme p {
  font-family: "Lato", sans-serif;
  font-size: 11px;
  color: darkgray;
  font-style: italic;
  line-height: 1;
}

.life-love-style-theme span {
  margin: 0 5px;
}

                                /*--------VIDEOS SLIDER---------*/

.videos-slider-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  margin: 1px;
}

.videos-slider-header-shell {
  border: 1px solid #ebebeb;
  width: 100%;
}

.videos-slider-header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-left: 20px;
}

.left-right-cursor {
  display: flex;
  justify-content: space-between;
  width: 5%;
  font-size: 20px;
  color: darkgray;
  padding-right: 20px;
}

.videos-slider {
  display: flex;
  width: 100%;
}

.videos-slider-left {
  width: 50%;
  margin-right: 15px;
  margin-top: 30px;
}

.videos-slider-right {
  width: 50%;
  margin-left: 15px;
  margin-top: 30px;
}

.videos-slider img {
  width: 100%;
}

.videos-slider-left h1, .videos-slider-right h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.videos-slider-author {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-style: italic;
  color: darkgray;
}

.videos-slider-author span {
  margin: 0 20px;
}

.videos-slider-text {
  font-family: "Lato", sans-serif;
}

                                /*------HOTTEST-THIS-WEEK------*/

.hottest-this-week {
  display: flex;
  justify-content: center;
  width: 60%;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.hottest-this-week img {
  width: 100%;
}

.hottest-this-week-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
}

.squads {
  font-size: 11px;
  color: #95cac5;
}

.squads i {
  margin: 0 5px;
}

.squads i:hover {
  font-size: 13px;
  cursor: pointer;
  margin: 0 4px;
}

.hottest-this-week-header h1{
  color: #95cac5;
  font-family: "Great Vibes", cursive;
  font-size: 60px;
  font-weight: 400;
}

.hottest-this-week-header h2 {
  color: black;
  font-family: "Great Vibes", cursive;
  font-size: 60px;
  font-weight: 400;
}

.hottest-this-week-posts {
  display: flex;
  justify-content: center;
  width: 65%;
}

.hottest-this-week-posts p {
  font-size: 11px;
  color: darkgray;
  font-style: italic;
  font-family: "Lato", sans-serif;
}

.hottest-this-week-posts h2 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 0;
}

.hottest-this-week-post1 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 15px;
}

.hottest-this-week-post2 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.hottest-this-week-post3 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 30px;
}


                                /*----------TECHNOLOGY---------*/

.technology {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.technology hr {
  border: none;
  background-color: #ebebeb;
  height: 1px;
  margin: 20px 0;
}

.technology img {
  width: 100%;
}

.technology-left {
  width: 46%;
}

.technology-right {
  width: 14%;
}

.technology-left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  margin: 1px;
}

.technology-left-header-shell {
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
  margin-right: 30px;
}

.technology-left-header h2 {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-left: 25px;
}

.technology-left-header p {
  font-family: "Lato", sans-serif;
  font-size: 11px;
  padding-right: 25px;
}

.technology-left-header span {
  margin: 0 10px;
}

.technology-left-content {
  display: flex;
  margin-right: 30px;
}

.technology-left-content-leftside {
  width: 40%;
}

.technology-left-content-rightside h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.technology-author {
  font-size: 11px;
  font-style: italic;
  color: darkgray;
  font-family: "Lato", sans-serif;
}

.technology-author span {
  margin: 0 10px;
}

.technology-left-content-leftside img {
  width: 100px;
}

.technology-left-content-rightside {
  width: 60%;
  margin-left: 30px;
}


.technology-small-post {
  display: flex;
}

.technology-small-post h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.technology-small-post p {
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-style: italic;
  color: darkgray;
}

.technology-small-post span {
  margin: 0 10px;
}

.technology-small-post-text {
  margin-left: 20px;
}

                                /*-------KEEP IN TOUCH----------*/

.keep-in-touch-header {
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  margin: 1px;
}

.keep-in-touch-header-shell {
  border: 1px solid #ebebeb;
  margin-top: 40px;
  margin-bottom: 30px;
}

.keep-in-touch-header h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

                                /*----SOCIAL-NETWORKS-----------*/

.social-networks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.social-network {
  display: flex;
  align-items: center;
}

.social-network-logo {
  padding: 5px;
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  font-size: 11px;
  color: black;
  margin-right: 10px;
}

.social-network h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

                                /*-------LATEST POSTS HEADER-------*/

.latest-posts-header {
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  text-align: center;
  margin: 1px;
}

.latest-posts-header-shell {
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
}

.latest-posts-header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
}


                                  /*-------LATEST POSTS----------*/

.latest-posts-post img {
  width: 100%;
}

.latest-posts-post {
  display: flex;
  align-items: center;
}

.latest-posts-post img {
  width: 75px;
  margin-right: 20px;
}

.latest-posts-post-text {
  padding-bottom: 15px;
  width: 100%;
}

.latest-posts-post-text h2{
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.latest-posts-post-text p {
  font-size: 11px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: darkgray;
  font-style: italic;
}



                                    /*---------LATEST POST HEADER--------*/

.latest-post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  margin: 1px;
}

.latest-post-header-shell {
  border: 1px solid #ebebeb;
  width: 96%;
  margin-top: 25px;
  margin-bottom: 30px;
}

.latest-post-header > a {
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.latest-post-header > p {
  padding-right: 20px;
  font-family: "Lato", sans-serif;
  font-size: 11px;
}

.latest-post-header span {
  margin: 0 10px;
}

                                  /*-----------LATEST POST----------*/

.latest-post {
  width: 95%;
}

.latest-post img {
  width: 45%;
}

.latest-post-post {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}

.latest-post-post-text {
  margin-left: 30px;
}

.latest-post-post-text h2 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #95cac5;
  padding-bottom: 10px;
}

.latest-post-post-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: black;
  padding-bottom: 5px;
}

.latest-post-post-author {
  font-size: 11px;
  font-family: "Lato", sans-serif;
  color: darkgray;
  font-style: italic;
  padding-bottom: 20px;
}

.latest-post-post-author span {
  margin: 0 10px;
}                  

                          /*------OLDER NEWER POST-------*/

.older-newer-post {
  display: flex;
  justify-content: space-between;
  width: 96%;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 0px;
}

.older-newer-post a {
  padding-bottom: 5px;
  border-bottom: 1px solid #95cac5;
}

                              /*-------FORM SEND-------*/

.form-send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
  background-color: rgba(149,202,197,0.1);
}

.form-send form {
  width: 50%;
  text-align: right;
  padding-right: 60px;
  padding: 50px;
  border-right: 1px solid #d2d2d2;
}

.form-send form label {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding-right: 20px;
}

.form-send form input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 30px;
  border-style: none;
  border: 1px solid #d2d2d2;
}

.form-send form button {
  position: relative;
  right: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  border-style: none;
  border: 1px solid #d2d2d2;
  color: #787878;
}

.social-profile {
  display: flex;
  align-items: center;
  width: 50%;
  padding-left: 100px;
}

.social-profile h2 {
  padding-right: 10px;
  font-family: "Lato", sans-serif;
}

.social-profile-logo {
  padding: 5px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  text-align: center;
  font-size: 12px;
  margin-right: 10px;
  color: #95cac5;
}

                                /*--------END-------------*/

.end {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 50px 0;
}

.end img {
  width: 100%;
}

.end-header {
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  margin: 1px;
}

.end-header-shell {
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
}


.end-header h2 {
  text-align: center;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 100%;
}

.about-me {
  width: 14%;
  margin-right: 25px;
}

.flicker-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 14%;
  margin-left: 25px;
  margin-right: 25px;
}

.recent-post {
  width: 14%;
  margin-left: 25px;
  margin-right: 25px;
}

.recent-post p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.recent-post hr {
  border: none;
  background-color: #ebebeb;
  height: 1px;
}

.recent-works {
  width: 14%;
  margin-left: 25px;
  text-align: center;
}

.end-img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.end-img img {
  width: 31%;
  height: 70px;
  padding-right: 5px;
  padding-bottom: 5px;
}

                                    /*------INSTAGRAM-------*/



.instagram {
  width: auto;
  width: 100%;
  height: 100%;
}

.instagram h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 40px;
  margin: 0;
  font-weight: 400;
  position: relative;
  color: black;
  z-index: 2;
}

.instagram-img {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.instagram-img-background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(149,202,197,.7)
}

.instagram-img-background:hover {
  transition: .3s;
  background: rgba(149,202,197,.0);
}

.instagram-img-background:not(:hover) {
  transition: .3s;
  
}



.instagram-img img {
  width: 100%;
  height: 100%;
}

                                        /*------COPYRIGHT--------*/

.copyright {
  width: 100%;
  margin: 0;
  background-color: #95cac5;
}

.copyright p {
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}


h1 {
  font-size: 22px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}
