body {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  color: #787878;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search input {
  border: none;
  text-decoration: none;
}

.search::after {
  content: "\f002";
}

.middle {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 80px;
}

.right {
  display: flex;
  flex-direction: column;
}

.links a {
  text-decoration: none;
  color: #787878;
  font-size: 12px;
  padding: 0px 4px;
}

.links a:hover {
  transition: 0.2s;
  color: #95cac5;
}

.links a:not(:hover) {
  transition: 0.2s;
}

/*------------------------------------------------------------------------*/

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

li {
  position: relative;
}

ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}

.menu a {
  display: block;
  color: black;
  background-color: white;
  text-decoration: none;
}

.menu>li {
  padding: 20px;
}

.menu a:hover {
  transition: .2s;
  color: #95cac5;
}

                          /*------HOME--------*/
/*HOME-SUBMENU*/

.home-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  top: 58px;
  left: 0;
  background-color: white;
}

.home-submenu>li {
  padding: 7px ;
}

.menu > li:hover > .home-submenu {
  display: block;
}

/*HOMEONE-SUBMENU*/

.homeone-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
  border: 1px solid red;
}

.homeone-submenu>li {
  padding: 7px;
}

.home-submenu > li:hover > .homeone-submenu {
  display: block;
}

/*HOMEONEVERSION1-SUBMENU*/

.homeoneversion1-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
}

.homeoneversion1-submenu > li {
  padding: 7px;
}

.homeone-submenu > li:hover > .homeoneversion1-submenu {
  display: block;
}

/*HOMEONEVERION2-SUBMENU*/

.homeoneversion2-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
}

.homeoneversion2-submenu > li {
  padding: 7px;
}

.homeone-submenu > li:hover > .homeoneversion2-submenu {
  display: block;
}

/*HOMEONEVERION3-SUBMENU*/

.homeoneversion3-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
}

.homeoneversion3-submenu > li {
  padding: 7px;
}

.homeone-submenu > li:hover > .homeoneversion3-submenu {
  display: block;
}

/*HOMETWO-SUBMENU*/

.hometwo-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.hometwo-submenu>li {
  padding: 7px;
}

.home-submenu > li:hover > .hometwo-submenu {
  display: block;
}

/*HOMETWOVERSION1-SUBMENU*/

.hometwoversion1-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
}

.hometwoversion1-submenu > li {
  padding: 7px;
}

.hometwo-submenu > li:hover > .hometwoversion1-submenu {
  display: block;
}

/*HOMETWOGRID3-SUBMENU*/

.hometwogrid3-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
}

.hometwogrid3-submenu > li {
  padding: 7px;
}

.hometwo-submenu > li:hover > .hometwogrid3-submenu {
  display: block;
}

/*HOMETWOGRID2-SUBMENU*/

.hometwogrid2-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
}

.hometwogrid2-submenu > li {
  padding: 7px;
}

.hometwo-submenu > li:hover > .hometwogrid2-submenu {
  display: block;
}

/*HOMETWOGRID4-SUBMENU*/

.hometwofrid4-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
}

.hometwofrid4-submenu > li {
  padding: 7px;
}

.hometwo-submenu > li:hover > .hometwofrid4-submenu {
  display: block;
}

/*WITHOUTFEATURED-SUBMENU*/

.withoutfeatured-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 203px;
  top: 0;
}

.withoutfeatured-submenu > li {
  padding: 7px;
}

.hometwo-submenu > li:hover > .withoutfeatured-submenu {
  display: block;
}

/*HOMETHREE-SUBMENU*/

.homethree-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.homethree-submenu>li {
  padding: 7px;
}

.home-submenu > li:hover > .homethree-submenu {
  display: block;
}

/*HOMEFOUR-SUBMENU*/

.homefour-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.homefour-submenu>li {
  padding: 7px;
}

.home-submenu > li:hover > .homefour-submenu {
  display: block;
}

/*HOMEFIVE-SUBMENU*/

.homefive-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.homefive-submenu>li {
  padding: 7px;
}

.home-submenu > li:hover > .homefive-submenu {
  display: block;
}

/*NORMALLAYOUT-SUBMENU*/

.normallayout-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.normallayout-submenu>li {
  padding: 7px;
}

.homefive-submenu > li:hover > .normallayout-submenu {
  display: block;
}

/*GRIDTWO-SUBMENU*/

.gridtwo-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.gridtwo-submenu>li {
  padding: 7px;
}

.homefive-submenu > li:hover > .gridtwo-submenu {
  display: block;
}

/*GRIDTHREE-SUBMENU*/

.gridthree-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.gridthree-submenu>li {
  padding: 7px;
}

.homefive-submenu > li:hover > .gridthree-submenu {
  display: block;
}

/*HOMESIX-SUBMENU*/

.homesix-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.homesix-submenu>li {
  padding: 7px;
}

.home-submenu > li:hover > .homesix-submenu {
  display: block;
}

/*MAGAZINELAYOUT-SUBMENU*/

.magazinelayout-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.magazinelayout-submenu>li {
  padding: 7px;
}

.home-submenu > li:hover > .magazinelayout-submenu {
  display: block;
}

/*MAGAZINEVERSION1-SUBMENU*/

.magazineversion1-submenu {
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.magazineversion1-submenu>li {
  padding: 7px;
}

.magazinelayout-submenu > li:hover > .magazineversion1-submenu {
  display: block;
}

                        /* --------FEATURES---------*/

/*FEATURES-SUBMENU*/

.features-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  top: 58px;
  left: 0;
  background-color: white;  
}

.features-submenu>li {
  padding: 7px ;
}

.menu > li:hover > .features-submenu {
  display: block;
}

/*FEATURES-STYLE*/

.featured-style {                              
  display: block;
  position: absolute;
  width: 208px;
  left: -90px;
  background-color: white;  
}

.featured-style>li {
  padding: 7px ;
}

.menu > li:hover > .featured-style {
  display: block;
}

/*POST-FORMAT*/

.post-format {                              
  display: block;
  position: absolute;
  width: 185px;
  left: 119px;
  background-color: white; 
}

.post-format>li {
  padding: 7px ;
}

.menu > li:hover > .post-format {
  display: block;
}

/*SHOP-PAGE-LAYOUT*/

.shop-page-layout {                              
  display: block;
  position: absolute;
  width: 205px;
  left: 305px;
  background-color: white;  
}

.shop-page-layout>li {
  padding: 7px ;
}

.menu > li:hover > .shop-page-layout {
  display: block;
}

/*OTHER-PAGE-LAYOUT*/

.other-page-layout {                              
  display: block;
  position: absolute;
  width: 236px;
  left: 511px;
  background-color: white; 
}

.other-page-layout>li {
  padding: 7px ;
}

.menu > li:hover > .other-page-layout {
  display: block;
}

                        /* --------EXTRA---------*/

.extra-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  left: -2px;
  top: 58px;
  background-color: white; 
}

.extra-submenu>li {
  padding: 7px ;
}

.menu > li:hover > .extra-submenu {
  display: block;
}

                        /* --------pages-submenu---------*/

.pages-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;  
}

.pages-submenu>li {
  padding: 7px ;
}

.extra-submenu > li:hover > .pages-submenu {
  display: block;
}

                      /*---gallerypost-submenu----*/

.gallerypost-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;
}

.gallerypost-submenu>li {
  padding: 7px ;
}

.extra-submenu > li:hover > .gallerypost-submenu {
  display: block;
}

                        /*--headerstyle-submenu--*/

.headerstyle-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white; 
}

.headerstyle-submenu>li {
  padding: 7px ;
}

.extra-submenu > li:hover > .headerstyle-submenu {
  display: block;
}

                        /*---menustyle-submenu---*/

.menustyle-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white; 
}

.menustyle-submenu>li {
  padding: 7px ;
}

.extra-submenu > li:hover > .menustyle-submenu {
  display: block;
}

                        /*---portfolio-submenu---*/

.portfolio-submenu {                              
  display: none;
  position: absolute;
  width: 200px;
  left: 200px;
  top: 0px;
  background-color: white;  
}

.portfolio-submenu>li {
  padding: 7px ;
}

.extra-submenu > li:hover > .portfolio-submenu {
  display: block;
}

                        /*--------TRAVEL--------*/



                        /*---------LIFESTYLE----------*/

.lifestyle-submenu {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 58px;
  left: -400px;
  background: white;
}

.lifestyle-submenu img {
  width: 175px;
}

.lifestyle-submenu div {
  padding: 0px 15px;
  padding-top: 25px;
  padding-bottom: 60px;
}

.lifestyle-submenu div p {
  margin: 10px 0px;;
}

.lifestyle-submenu .viewall a{
  position: relative;
  right: 450px;
  top: 150px;
  width: 100px;
}

.menu > li:hover .lifestyle-submenu{
  display: flex;
}

                    /*------------ pictures*-----------*/
.pictures {
  display: flex;
}

.pictures img {
  width: 100%;
}

.asdf {
  display: flex;
}

.main-picture {
  width: 1720px;
}

.reaching-for-the-sky, .photographers-best-friend {
  width: 50%;
}

.reaching-for-the-sky {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.reaching-for-the-sky-text {
  padding-bottom: 70px;
  text-align:center;
}

.reaching-for-the-sky-text a:first-child {
  position: relative;
  bottom: 30px;
  text-decoration: none;
  background-color: aquamarine;
  color: white;
  
}

.photographers-best-friend-text {
  padding-top: 140px;
  text-align:center;
}

.photographers-best-friend-text a:first-child {
  position: relative;
  bottom: 50px;
  left: 100px;
  text-decoration: none;
  color: white;
  background-color: aqua;
}

                        /*----------travel-posts*--------*/

.content {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

.content-travel {
  display: flex;
  
}

.travel-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.travel-left img {
  width: 100%;
}

.travel-left {
  width: 500px;
}

.left > a {
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
}

.left span {
  font-size: 11px;
  text-align: center;
}

.travel-right {
  padding: 0 30px;
}

.travel-right img {
  width: 100px;
}

.post-small {
  display: flex;
  align-items: flex-start;
  padding-top: 15px;
  padding-bottom: 25px;
}

.post-small-text {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  line-height: 0;
  font-size: 11px;
}

.content-right {
  width: 280px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 11px; 
}

.content-right img {
  width: 100%;
}

.popular-post {
  display: flex;
  padding: 20px 0;
}

.popular-post img {
  width: 70px;
}

.popular-post-text {
  line-height: 0;
  padding-left: 20px;
}

.life-love-style {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  width: 850px;
}

.life-love-style img {
  width: 100%;
}

.life-love {
  width: 400px;
}

.life-style {
  width: 400px;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}